@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import "~bootstrap/scss/bootstrap";

$height: 300px;
$spaceBetweenMargins : 10px;
$symbolSize: 60px;
$tileHeight: ($height / 3) - (2 * $spaceBetweenMargins);

%flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    @extend %flex-center;
    background: black;
}

.app-main {
    width: $height;
    height: $height;
}

.app-header {
    width: $height;
    height: auto;
    color: white;
    padding-top: ($spaceBetweenMargins / 2) + 10px;
    padding-bottom: $spaceBetweenMargins / 2;
    h1 {
        font-size: 20px;
    }
    &-message {
        padding-top: 15px;
        padding-bottom: 10px;
    }
}

.app-board {
    width: $height;
    height: $height;
    padding-top: $spaceBetweenMargins / 2;
    padding-bottom: $spaceBetweenMargins / 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.app-tile {
    @extend %flex-center;
    width: $tileHeight;
    height: $tileHeight;
    margin: $spaceBetweenMargins / 2;
    border-radius: 5px;
    font-size: $symbolSize;
    font-family: 'Nanum Brush Script', cursive;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-empty {
    background: white;
}

.app-player-wins {
    background: lightgreen;
}

.app-player-losses {
    background: palevioletred;
}

.app-draw-game {
    background: slateblue;
}

.app-ui {
    width: $height;
}

.app-ui-text {
    @extend %flex-center;
    padding-bottom: 5px;
    color: white;
}

.app-ui-buttons {
    @extend %flex-center;
    padding-top: 5px;
    font-size: 9px;
}




