@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script&display=swap');
@import "~bootstrap/scss/bootstrap";

$height: 360px;
$spaceBetweenMargins : 10px;

body {
    background: black;
}

.app-main {
    max-width: $height;
    height: $height;
}

.app-board {
    height: $height;
    padding-top: $spaceBetweenMargins / 2;
    padding-bottom: $spaceBetweenMargins / 2;
}

.app-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: ($height / 3) - (2 * $spaceBetweenMargins) ;
    margin: $spaceBetweenMargins / 2;
    border-radius: 5px;
    font-size: 80px;
    font-family: 'Nanum Brush Script', cursive;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-empty {
    background: white;
}

.app-player-wins {
    background: lightgreen;
}

.app-player-losses {
    background: palevioletred;
}

.app-draw-game {
    background: slateblue;
}

.app-ui-text {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: white;
}


